.somma{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9a8a8;
    gap: 10px;
}

h3{
    background-color: #f9a8a8;
    text-align: center;
    margin: auto auto;
}